#########################################
# FOR IDEA
#########################################
*.iml
*/*.iml
*/*/*.iml
*/*/*/*.iml

.idea
*/.idea
*/*/.idea
*/*/*/.idea


#########################################
# FOR ECLIPSE
#########################################
.settings
*/.settings
*/*/.settings
*/*/*/.settings

bin
*/bin
*/*/bin
*/*/*/bin

.mymetadata
*/.mymetadata
*/*/.mymetadata
*/*/*/.mymetadata

.project
*/.project
*/*/.project
*/*/*/.project

.class
*/.class
*/*/.class
*/*/*/.class

.classpath
*/.classpath
*/*/.classpath
*/*/*/.classpath


#########################################
# FOR MAVEN
#########################################
target
*/target
*/*/target
*/*/*/target

#########################################
# FOR OTHERS
#########################################
.war
.zip
.rar

.~*
*/.~*
*/*/.~*
*/*/*/.~*
