            <if test="${PROPERTY_NAME} !=null">
                and a.${COLUMN_NAME} = #{${PROPERTY_NAME}}
            </if>
            <if test="_min${PROPERTY_NAME_UP} !=null">
                and a.${COLUMN_NAME} &gt;= #{_min${PROPERTY_NAME_UP}}
            </if>
            <if test="_max${PROPERTY_NAME_UP} !=null">
                and a.${COLUMN_NAME} &lt;= #{_max${PROPERTY_NAME_UP}}
            </if>
