ALTER TABLE eppdev_contact.sys_user CHANGE create_time create_date datetime NULL COMMENT '生成时间' ;
ALTER TABLE eppdev_contact.sys_user CHANGE update_time update_date datetime NULL COMMENT '修改时间' ;
ALTER TABLE eppdev_contact.sys_user CHANGE remark remarks varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL COMMENT '备注' ;
